In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
774,tt1385826,50200000,127869379,The Adjustment Bureau,Matt Damon|Emily Blunt|John Slattery|Anthony M...,George Nolfi,Fight for your fate.,A man glimpses the future Fate has planned for...,106,Thriller|Romance|Fantasy,Universal Pictures|Media Rights Capital|Gambit...,3/3/2011,6.4,2011
630,tt1023481,23000000,150816700,Step Up 2: The Streets,Briana Evigan|Robert Hoffman|Will Kemp|Cassie ...,Jon M. Chu,It's not where you're from. It's where you're at.,When rebellious street dancer Andie lands at t...,98,Music|Drama|Romance,Summit Entertainment|Offspring Entertainment|T...,2/14/2008,6.4,2008
716,tt0410377,37000000,100076342,Nim's Island,Abigail Breslin|Jodie Foster|Gerard Butler|Mic...,Jennifer Flackett|Mark Levin,Your adventure starts here.,A young girl inhabits an isolated island with ...,96,Adventure|Comedy|Family|Fantasy,Walden Media,4/3/2008,5.5,2008
263,tt0432283,40000000,46471023,Fantastic Mr. Fox,George Clooney|Meryl Streep|Jason Schwartzman|...,Wes Anderson,Dig the life fantastic!,The Fantastic Mr. Fox bored with his current l...,87,Adventure|Animation|Comedy|Family,Twentieth Century Fox Film Corporation|Regency...,10/23/2009,7.5,2009
1696,tt0431308,30000000,156835339,P.S. I Love You,Hilary Swank|Gerard Butler|Lisa Kudrow|Harry C...,Richard LaGravenese,"His life ended. Now, a new one will begin.",A young widow discovers that her late husband ...,126,Drama|Romance,Wendy Finerman Productions|Alcon Entertainment...,11/15/2007,7.0,2007

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов
data['profit'] = data.revenue - data.budget
# тут другие ваши предобработки колонок например:

data['release_date'] = pd.to_datetime(data['release_date'])

#функция получает на вход строку, делит ее по разделителю | и формирует список значений
def genre(a):
    lst = a.split("|")
    global empty
    empty += lst

# функция склеивает список из всех значений  в каждой строке разделяя их по "|"
def return_list(list):
    s = ''
    for i in list:
        s = s + i + '|'
    s = s[:len(s)-1]
    return s.split('|')


#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '+'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
#берем значения бюджета и выводим строку с самым большим
data[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
data[data['budget'] == data['budget'].max()][['original_title','imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

In [8]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [10]:
#берем значения длительности фильмов и выводим максимальный
data[data['runtime'] == data['runtime'].max()][['original_title','imdb_id']]

         original_title    imdb_id
1157  Gods and Generals  tt0279111

In [11]:
answers['2'] = 'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
#берем значения длительности фильмов и выводим минимальный
data[data['runtime'] == data['runtime'].min()][['original_title','imdb_id']]

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

In [13]:
answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [14]:
# вычисляем среднее значение фильмом из всего ДФ
data.runtime.mean()

109.6585494970884

In [15]:
answers['4'] = '109'

# 5. Каково медианное значение длительности фильмов?

In [16]:
# вычисляем смедианное значение фильмом из всего ДФ
data.runtime.median()

107.0

In [17]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# сначала создаем ДФ с филмами у который прибыль больше чем убытки (профит) и выбираем максимальный
data[data['profit'] == data['profit'].max()]['original_title']

239    Avatar
Name: original_title, dtype: object

In [19]:
answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [20]:
# сначала создаем ДФ с филмами у который прибыль больше чем убытки (профит) и выбираем минимальный
data[data['profit'] == data['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

In [21]:
answers['7'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
# выводим те фильмы у которых положительный профит и подсчитываем их
data[data.profit > 0].profit.count()

1478

In [23]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
# сортируем фильмы по 2008 году, сортируем их по доходности и выводим верхнюю строку
data[data['release_year'] == 2008].sort_values('revenue', ascending = False).head(1)['original_title']

599    The Dark Knight
Name: original_title, dtype: object

In [25]:
answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
# отбираем фильмы между 2012 и 2014 годом, сортируем по критерю "профит" и выводим первую строчку
data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)].sort_values('profit').head(1)['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

In [27]:
answers['10'] = 'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [28]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [29]:
# создал копию ДФ
data11=data.copy()
# добавил в конце каждого списка жанров '|'
data11['genres'] = data11['genres'].apply(lambda x: x+'|')
# склеил списки
data11 = data11['genres'].sum()
# разделил по '|'
c = data11.split('|')
# посчитал количество уникальных значений и вывел первое в списке
display(Counter(c).most_common(1))

[('Drama', 782)]

In [30]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
# создал копию ДФ
data12=data.copy()
# создал пустой список
empty = []
# сортирую список полученный при помощи функции чтоб профит был положительным 
data12.genres[data12.profit>0].apply(genre)
# посчитал количество уникальных значений и вывел первое в списке
display(Counter(empty).most_common(1))

[('Drama', 560)]

In [32]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [33]:
# создал копию ДФ
data13 = data.copy()
# засумировал кассовые сборы и директорам и вывел первого в списке
data13.groupby('director')['revenue'].sum().sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [34]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [35]:
# создал копию ДФ
data14 = data.copy()
# создал пустой список
empty = []
# создаем новый ДФ, в которм в жанрах присутствует Action
data14 = data14[data14['genres'].str.contains('Action')]
# формирую список из режиссеров
data14.director.apply(genre)
# выводим самого чатсо встречаемого
display(Counter(empty).most_common(1))

[('Robert Rodriguez', 9)]

In [36]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [37]:
# создал копию ДФ
data15 = data.copy()
# новый ДФ с фильмами 2012 года
data15 = data15[data15.release_year == 2012]
# формируем список из сборов разделенных по '|'
data15['cast'] = data15.cast.str.split('|')
# дублируем все колонки так, чтобы в каждой строчке ДФ находилось по одному актеру
data15 = data15.explode('cast')
# суммируем доходы по всем актерам, сортируем по убыванию и выводим первую строчку
data15.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

In [38]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [39]:
# создал копию ДФ
data16 = data.copy()
# создал ДФ в котором бюджет выше среднего бюджета
data16 = data16[data16.budget > data16.budget.mean()]
# в колонке актеров создаем спсики разделенные по признаку'|'
data16['cast'] = data16.cast.str.split('|')
# дублируем все колонки так, чтобы в каждой строчке ДФ находилось по одному актеру
data16 = data16.explode('cast')
# сортируем по убыванию и выводим первую строчку
data16['cast'].value_counts(ascending=False).head(1)

Matt Damon    18
Name: cast, dtype: int64

In [40]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [41]:
# создал копию ДФ
data17 = data.copy()
# создал пустой список
empty = []
# отсортировал так, чтоб в ДФ были колоки где конфигурирует Кейдж
data17 = data[data['cast'].str.contains('Nicolas Cage')]
# сделал в каждой строчки сиски в колонке жанра, которые разделены по признаку '|'
data17.genres.apply(genre)
# вывел самый часто встречаемый жанр
display(Counter(empty).most_common(1))

[('Action', 17)]

In [42]:
# создал копию ДФ
data17_1 = data.copy()
# отсортировал так, чтоб в ДФ были колоки где конфигурирует Кейдж
data17_1 = data17_1[data17_1['cast'].str.contains('Nicolas Cage')]
# сделал в каждой строчки сиски в колонке жанра, которые разделены по признаку '|'
data17_1['genres'] = data17_1.genres.str.split('|')
# дублируем все колонки так, чтобы в каждой строчке ДФ находилось по одному жанру
data17_1 = data17_1.explode('genres')
# сортируем по самым часто встречаемым жанрам и выводим
data17_1['genres'].value_counts(ascending=False).head(1)

Action    17
Name: genres, dtype: int64

In [43]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
# создал копию ДФ
data18 = data.copy()
# в колонке production_companies сделал списки разделенные по признаку '|'
data18['production_companies'] = data18.production_companies.str.split('|')
# дублируем все колонки так, чтобы в каждой строчке ДФ находилось по одной компании
data18 = data18.explode('production_companies')
# создает ДФ где только комания Paramount Pictures
data18 = data18[data18['production_companies'] == 'Paramount Pictures']
# выводим фильм с мигимальным профитом
data18[data18['profit'] == data18['profit'].min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [45]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
#суммируем все кассовые сборы отсортированные по году релиза, сортируем от большего к меньшему и выводим верхнююб строку
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

In [47]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
# создал копию ДФ
data20 = data.copy() 
# создаем ДФ где в строка конфигурирует Warner Bros
data20 = data20[data20['production_companies'].str.contains('Warner Bros')]
# суммируем прибыль (профит) по году релиза фильмов, сортруем и выводим первую строку
data20.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

In [49]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
# создал копию ДФ
data21 = data.copy()
# группируем ДФ по месяцу с помощью метода dt.month, выбирая столбец названия фильмов и считаем кол-во по группам и сортируем по убыванию
data21.groupby(data21['release_date'].dt.month)['original_title'].count().sort_values(ascending=False)

release_date
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

In [51]:
answers['21'] = '9(сентябрь)'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [52]:
# создал копию ДФ
data22 = data.copy()
# определяем кол-во строк в ДФ, где дата производства фильма включает летние месяцы
len(data22.query('release_date.dt.month in [6,7,8]'))

450

In [53]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [54]:
# создал копию ДФ
data23 = data.copy()
# сортируем ДФ по зимним месяцам, берем из него колонку режиссеров, получаем из нее список, выводим самые частые
Counter(return_list(data23.query('release_date.dt.month in [1,2,12]')['director'])).most_common(1)

[('Peter Jackson', 7)]

In [55]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [56]:
# создал копию ДФ
data24 = data.copy()
#  создаем ДФ со строками, где в колонке студий созданы списки, разделенные по признаку '|'
data24['production_companies'] = data24.production_companies.str.split('|')
# дублируем все колонки так, чтобы в каждой строчке ДФ находилось по одной компании
data24 = data24.explode('production_companies')
#добавляем колонку с длиной названия фильма
data24['leght'] = data24.original_title.apply(lambda a: len(a))
#группируем ДФ по студиям и вычисляем самое длинное среднее название фильма, сортируем по убыванию и выводим первую строку
data24.groupby(['production_companies'])[['leght']].mean().sort_values(['leght'],ascending=False).head(1)

                         leght
production_companies
Four By Two Productions   83.0

In [57]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [58]:
# создал копию ДФ
data25 = data.copy()
#  создаем ДФ со строками, где в колонке студий созданы списки, разделенные по признаку '|'
data25['production_companies'] = data25.production_companies.str.split('|')
# дублируем все колонки так, чтобы в каждой строчке ДФ находилось по одной компании
data25 = data25.explode('production_companies')
#добавляем колонку с длиной описания
data25['leght'] = data25.overview.apply(lambda a: len(a))
data24['leght'] = data24.original_title.apply(lambda a: len(a))
#группируем ДФ по студиям и вычисляем самое длинное среднее описание, сортируем по убыванию и выводим первую строку
data25.groupby(['production_companies'])['leght'].mean().sort_values(ascending=False).head(1)

production_companies
Midnight Picture Show    1000.0
Name: leght, dtype: float64

In [59]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [60]:
# создал копию ДФ
data26 = data.copy()
# создал пустой список
empty = []
#формируем новый ДФ, отсортированный по рейтингу
data26 = data26.sort_values(by = 'vote_average',ascending = False)
#изменяем ДФ, оставляя в нем только 1% лучших по рейтингу фильмов
data26 = data26[:round(len(data26.index)*0.01)]
# формируем список с названиями фильмов разделенными по признаку '|'
data26.original_title.apply(genre)
# выводим список
display(empty)

['The Dark Knight',
 'Interstellar',
 'The Imitation Game',
 'Inside Out',
 'Room',
 'The Wolf of Wall Street',
 'Gone Girl',
 '12 Years a Slave',
 'Guardians of the Galaxy',
 'The Lord of the Rings: The Return of the King',
 'Memento',
 'Inception',
 'The Pianist',
 'The Grand Budapest Hotel',
 'Her',
 'Spotlight',
 'Big Hero 6',
 'The Fault in Our Stars',
 'The Lord of the Rings: The Two Towers']

In [61]:
answers['26'] = ['The Dark Knight','Interstellar','The Imitation Game','Inside Out',
 'Room',
 'The Wolf of Wall Street',
 'Gone Girl',
 '12 Years a Slave',
 'Guardians of the Galaxy',
 'The Lord of the Rings: The Return of the King',
 'Memento',
 'Inception',
 'The Pianist',
 'The Grand Budapest Hotel',
 'Her',
 'Spotlight',
 'Big Hero 6',
 'The Fault in Our Stars',
 'The Lord of the Rings: The Two Towers']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [62]:
# создал копию ДФ
data27 = data.copy()
# создаем ДФ только с колонкой с актерами
data27 = data['cast']
# создаем ДФ где делим актеров в каждой строчке по признаку '|', а после применяем itertools.combinations
# создаем комбинации каждой строки из всех возможных актеров
data27 = data27.str.split('|').apply(lambda a: list(itertools.combinations(a, 2)))
# суммируем и выводим 5 штук самых часто встречающихся
Counter(data27.sum()).most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

In [63]:
answers['27'] = ['Daniel Radcliffe', 'Rupert Grint']

# Submission

In [64]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '109',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9(сентябрь)',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['The Dark Knight',
  'Interstellar',
  'The Imitation Game',
  'Inside Out',
  'Room',
  'The Wolf of Wall Street',
  'Gone Girl',
  '12 Years a Slave',
  'Guardians of the Galaxy',
  'The Lord of the Rings: The Return of the King',
  'Memento',
  'Inception',
  'The Pianist',
  'The Grand Budapest Hotel',
  'Her',
  'Spotlight',
  'Big Hero 6',
  'The Fault in Our Stars',
  'The Lord of the Rings: The Two Towers'],
 '27': ['Daniel Radcliffe', 'Rupert Grint']}

In [65]:
# и убедиться что ни чего не пропустил)
len(answers)

27